/* Enter your custom styles here */
.myPageBgClr {
    background-color: #0a5599;
}
.photoBoxDesign {
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
/* .myButton .sapMBtnInner {
    background: transparent;
    color: aliceblue !important;
}
.myButton .sapMBtnInner:hover {
    background-color: #063966 !important;
}
.myButton .sapMBtnInner .sapMBtnIcon {
    background: transparent;
    color: aliceblue !important;
}
.myPageHeader {
    background-color: #063966;
}
.sapUiIcon {
    background-color: transparent !important;
    color: aliceblue;
}
.sapMTBStandard {
    border-bottom: 0.0725rem #d9d9d9;
}
.sapMBarRight, .sapMBarPH {
    padding-right: 0rem;
}
.sapMBtnContent, .titleText {
    color: aliceblue;
}
.listButtonDesign {
    border-radius: 0.5rem;
}
.ListItemButton {
    height: 90px !important;
    width: 100%;
    background-color: #063966;
    color: aliceblue;
    border-radius: 0.49rem;
}
.ListItemButton .sapMBtnInner {
    display: contents;
    justify-content: center;
    color: aliceblue;
}
.ListItemButton .sapMBtnInner {
    color: aliceblue;
}
.mainListDesign .sapMLIB {
    border-bottom: 0px solid #e5e5e5;
}
.mainListDesign .sapMTBStandard {
    border-bottom: solid 0rem #d9d9d9;
} */